<%= link_to 'Back', videos_path %>

<p id="notice"><%= notice %></p>

<%= image_tag(@video.youtube_data.thumbnails.first.url) %>

<p>
  <b>Title:</b>
  <%= @video.youtube_data.title %>
</p>

<p>
  <b>User:</b>
  <%= @video.youtube_data.author.name %>
</p>

<p>
  <b>Published:</b>
  <%= @video.youtube_data.published_at %>
</p>

<p>
  <b>Description:</b>
  <%= @video.youtube_data.description %>
</p>

<p>
  <%= raw @video.youtube_data.embed_html5({:class => 'video-player', :id => 'my-video', :width => '425', :height => '350', :frameborder => '1'}) %>
</p>

